<div class="row justify-content-center login">
    <div class="col-md-6 col-12 text-center border border-3 border-primary rounded p-4">
        <h4 class="text-primary text-center my-4 text-decoration-underline">Profile</h4>
        <div class="mb-3 ">
            First Name:
        </div>
        <div class="mb-3">
            Last Name:
        </div>
        <div class="mb-3">
            Phone Number:
        </div>

        <div class="mb-3">
            Age:
        </div>

        <div class="mb-3">
            Gender:
        </div>

        <div class="mb-3">
            Bio:
        </div>

        <div class="mb-3">
            Location:
        </div>
        <div class="mb-3">
            <button class="button button-primary" routerLink="/updateProfile">Edit Info</button>
            <br>
        </div>
    </div>
